html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: rgb(47, 47, 47);
}

#playerWrapper {
    display: flex;
    margin-top: 50px;
    height: 14vh;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
}

#winnerDisplay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2.25vw;
}

.p1Wrapper, .p2Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1Score, #p2Score {
    margin-top: 12px;
    font-size: 2.25vw;
    color: lavender;
}

#playerOne, #playerTwo {
    font-size: 2.25vw;
    border-radius: 16px;
    border-color: lavender;
    background-color: lavender;

}

#playerOne:hover, #playerTwo:hover {
    background-color: #C2C2FF;
    border-color: #C2C2FF;

}

#playerOne:disabled, #playerTwo:disabled {
    background-color: rgb(47, 47, 47);
}

.boardButton:disabled {
    display: flex;
    border-style: solid;
    background-color: #1F1F1F;
    color: lavender;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

button:disabled,
button[disabled]{
  border: 1px none;
  background-color: rgb(47, 47, 47);
  color: lavender;
}

.gameBoardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1/1;
    width: 30%;
    height: auto;
}

#resetButton {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 12vw;
    font-size: 2.25vw;
    border-radius: 16px;
    border-color: lavender;
    background-color: lavender;
}

#resetButton:hover {
    background-color: #C2C2FF;
    border-color: #C2C2FF;
}

.boardButton {
    display: flex;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    background-color:rgb(47, 47, 47);
    border-color: lavender;
    color: lavender;
}

.boardButton:hover {
    background-color:rgb(61, 61, 61);
}

.boardButton:hover:disabled {
    background-color:rgb(61, 61, 61);
}

#winnerText {
    color: #9999FF;
}