html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: grey;
}

.playerWrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
}

#winnerDisplay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2.25vw;
}

.p1Wrapper, .p2Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1Score, #p2Score {
    margin-top: 12px;
    font-size: 2.25vw;
}

#playerOne, #playerTwo {
    font-size: 2.25vw;
}

.boardButton:disabled {
    display: flex;
    border-style: solid;
    background-color: lavender;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

button:disabled,
button[disabled]{
  border: 1px none;
  background-color: grey;
  color: black;
}

.gameBoardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1/1;
    width: 30%;
    height: auto;
}

#resetButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5vw;
}

.boardButton {
    display: flex;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    background-color: rgb(230, 230, 250);
}

.boardButton:hover {
    background-color:rgb(214, 214, 255);
}